.chatContainer{
    margin-left: 5vw;
    display:flex;
    flex-direction: column;
    height: max-content;
}

.outterContainer{
    display: flex;
    flex-direction: row;
    height: max-content;
}
.message{
    display:flex;
    flex-direction: row

}
.readyTextNOT{
    color:crimson
}

.userList{
    height: 42vh;
    border: 2px solid black;
}

.readyTextYES{
    color:green
}

.usersTitle{
    top: 0;
    font-family: 'Times New Roman', Times, serif;
}
.userContainer{
    display:flex;
    flex-direction: column;
    height: max-content;
}

.input{
    width: 40vw
}

.inputField{
    width:86%;
    height: 3vh;
    margin-right: 1%;
    border-radius: 8px;
}
.sendButton{
    width:11%;
    height: 4vh
}

.readyButton{
    height: 4vh;
    margin-top: 4vh;
    width:100%;
    background:rgb(23, 212, 23)
}


.readyBut {
    appearance: button;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round,sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    height: 5vh;
    width: 20vw;
    background:rgb(23, 212, 23);
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    margin-top: .15vh;
  }
  
  .readyBut:after {
    background-clip: padding-box;
    background-color: rgb(30, 240, 30);
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
  
  .readyBut:main,
  .readyBut:focus {
    user-select: auto;
  }
  
  .readyBut:hover:not(:disabled) {
    filter: brightness(1.1);
  }
  
  .readyBut:disabled {
    cursor: auto;
  }

  .button-20 {
    appearance: button;
    background-color: #1899D6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round,sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    width:11%;
    height: 5vh;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;

  }
  
  .button-20:after {
    background-clip: padding-box;
    background-color: #1CB0F6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
  
  .button-20:main,
  .button-20:focus {
    user-select: auto;
  }
  
  .button-20:hover:not(:disabled) {
    filter: brightness(1.1);
  }
  
  .button-20:disabled {
    cursor: auto;
  }